
.App{
    background-color: rgb(250, 248, 248);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    background-color: rgb(219, 217, 217);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer{
    background-color: rgb(18, 17, 17);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:cursive;
}
.content{
    min-height: calc(100vh - 100px);
    width: 100%;
}
h1{
    color: green;
}
.box-wrapper{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-expense, .box-income{
    border: 1px solid #dedede;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}